
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */